<!DOCTYPE html>
<html lang="en">
<head>
    <title>ACE in Action</title>
    <style type="text/css" media="screen">
        #editor {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<body>
<div>

    <button onclick="sendCode(editor.getValue())">Poster mon code</button>
</div>
<div>
<div id="editor" style="top: 50px">function foo(items) {
    String x = "A toi de jouer !";
    return x;
    }</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{ asset('assets/vendor/ace-builds/src-min-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/java");

    //$(document).ready(function(){
    function sendCode(code) {

        $.ajax({
            url: "{{ path('articleperso_new_code', {'perso_id' : perso.id}) }}",
            method: 'POST',
            data: {code: code},
            success: function() {
                // where to redirect
                location.href = '{{ path('perso_show', {'perso_id' : perso.id}) }}';
            }

        }).done(function(){


        });

    }
    //})
</script>

</body>
</html>