{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        #editor {
            height: 500px;

        }

    </style>

{% endblock %}
{% block link %}

{% endblock %}

{% block body %}

{{ form_start(form) }}
        {{ form_widget(form) }}
<input type="submit" value="Poster mon code"/>
{{ form_end(form) }}
    <div id="editor">
        function foo(items) {
        var x = "All this is syntax highlighted";
        return x;
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor/ace-builds/src-min-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>
    <script>
        $(document).ready(function(){
            $("#newsbundle_codepost_texte").val(editor.getValue()) ;
        });
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/java");

        editor.getSession().on('change', function(e) {
            $("#newsbundle_codepost_texte").val(editor.getValue()) ;
        });




        $("#newsbundle_codepost_type").change(function(){
            editor.getSession().setMode("ace/mode/"+$(this).val())

        });

    </script>

{% endblock %}
