<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Kipskool{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<ul>
    <li>
        {% if app.user %}
            Logged in as {{ app.user.username }}
            <a href="/logout">logout </a>
            <a href="{{ path('perso_show', {'perso_id': app.user.id}) }}">Page perso</a>
        {% else %}
            <a href="/login">login</a> or <a href="/register">Register</a>
        {% endif %}</li>
    {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('sonata_admin_dashboard') }}">interface admin</a>
        </li>
    {% endif %}

</ul>
{% block body %}{% endblock %}
{% block javascripts %}
{% endblock %}
</body>

</html>
