{% extends 'base.html.twig' %}
{% block body %}
    <table>
        <td><a href="{{ path('admin_ecole', {'ecole_id': ecole.id}) }}">Ecole</a></td>
        <td><a href="{{ path('admin_promo', {'ecole_id': ecole.id}) }}">Promo</a></td>
        <td><a href="">Perso</a></td>
        <td><a href="{{ path('ecole_show', {'id': ecole.id}) }}">back to {{ ecole.nom }} view</a></td>
    </table>
{% endblock %}