<table id="commentaires_list">
    <input type="text" id="comment">
    <input type="button" id="addComment" value="Poster un commentaire">
    <tr>
        <th>créé le :</th>
        <th>par :</th>
        <th>commentaire :</th>
        <th>action</th>
    </tr>


</table>
